
        <env name="PYTHONUNBUFFERED" value="1" />
        <env name="PATH" value="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin" />
        <env name="PYTHONPATH" value="/usr/src:/usr/src/app/" />
        <env name="ROOT_URLCONF" value="core.urls" />
        <env name="C_FORCE_ROOT" value="True" />
        <env name="LANG" value="C.UTF-8" />
        <env name="BROKER_URL" value="amqp://guest:guest@rabbitmq:5672/" />
        <env name="DJANGO_SETTINGS_MODULE" value="core.settings" />
        <env name="DATABASE_URL" value="postgres://gis:docker@db:5432/gis" />

        {% for key, value in django.environment.iteritems() %}

        <env name="{{ key }}" value="{{ value }}" />

        {% endfor %}

        <env name="OGC_BACKEND" value="geonode.{{ ogc_backend }}" />
        <env name="USE_GEOSAFE" value="{{ use_geosafe }}" />
