
        <env name="PYTHONUNBUFFERED" value="1" />
        <env name="PATH" value="/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin" />
        <env name="INASAFE_LOCALE" value="id" />
        <env name="C_FORCE_ROOT" value="True" />
        <env name="QGIS_PATH" value="/usr" />
        <env name="INASAFE_HEADLESS_BROKER_HOST" value="amqp://guest:guest@rabbitmq:5672/" />
        <env name="LD_LIBRARY_PATH" value="/usr/lib" />
        <env name="PYTHONPATH" value="/usr/share/qgis/python:/usr/share/qgis/python/plugins:/home/src/inasafe" />
        <env name="QGIS_PREFIX_PATH" value="/usr" />
        <env name="INASAFE_SENTRY" value="1" />
        <env name="DEBIAN_FRONTEND" value="noninteractive" />

        {% for key, value in inasafe_headless.environment.iteritems() %}

        <env name="{{ key }}" value="{{ value }}" />

        {% endfor %}

        <env name="DISPLAY" value=":99" />
